@layer components {

  /* form items */

  ._form-item {
    position: relative;
    vertical-align: top;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;

    &:empty {
      display: none;
    }
  }

  ._ipt {
    position: relative;
    vertical-align: top;
    display: inline-flex;
    flex-direction: row;
    min-width: var(--spacing-input);
    max-width: 100%;
    min-height: var(--spacing-input);
    color: var(--color-input);
  }

  ._ipt-field {
    position: relative;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    user-select: none;

    &:focus-within {
      >._ipt-field-appearance {
        border-width: 2px;
      }
    }

    &:has(:is(input[aria-invalid="true"]:not([type="hidden"]), select[aria-invalid="true"], textarea[aria-invalid="true"])) {
      color: var(--color-input-err);

      >._ipt-field-enabled {
        background-color: var(--color-input-err-bg);
        border-color: var(--color-input-err-bd);
      }
    }
  }

  ._ipt-field-appearance {
    position: absolute;
    inset: 0;
    border: 1px solid var(--color-input-bd);
    border-radius: var(--radius-input);
    pointer-events: none;
    z-index: -1;
    line-height: 1.2rem;
    margin-top: -0.6rem;
    transition: background-color 0.2s, border-color 0.2s;
  }

  ._ipt-field-enabled {
    background-color: var(--color-input-bg);
  }

  ._ipt-field-disabled {
    opacity: var(--opacity-disabled);
  }

  ._ipt-group {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  ._ipt-msg {
    position: relative;
    display: block;
    min-width: 0;
    max-width: 100%;
    color: var(--color-error);
    font-size: 1.4rem;
  }

  ._ipt-default-width {
    width: 20rem;
  }

  ._ipt-main {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    padding-inline: var(--spacing-input-pad-x);
    width: 100%;

    &:disabled {
      &::placeholder {
        opacity: 0;
      }
    }

    &:not([type="date"], [type="month"], [type="time"], [type="datetime-local"]) {
      &::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    }
  }

  ._ipt-date {
    &[data-hasvalue="false"]:not(:focus) {
      color: var(--color-placeholder);
    }

    &:disabled[aria-disabled="true"] {
      &[data-hasvalue="false"] {
        color: transparent;
      }
    }
  }

  ._ipt-label {
    vertical-align: top;
    position: relative;
    min-width: 0;
    max-width: 100%;
    min-height: var(--spacing-input);
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--radius-input);
    user-select: none;

    &:is(:focus-within, :has(input:enabled:active)) {
      outline: 2px solid;
    }

    &:has(input[aria-disabled="true"]) {
      opacity: var(--opacity-disabled);
    }

    &:has(input:enabled:not([type="hidden"])) {
      cursor: pointer;

      &._ipt-label-button {
        @media (hover: hover) {
          &:hover {
            opacity: 0.75;

            &:active {
              opacity: 1;
            }

            &::before {
              opacity: 0.2;
            }
          }
        }
      }
    }

    &:has(input[aria-invalid="true"]) {
      outline-color: var(--color-input-err-bd);
    }
  }

  ._ipt-point {
    ---color: var(--color-input-bg);
    ---color-fg: var(--color-input);

    -webkit-appearance: none;
    appearance: none;
    outline: none;
    position: relative;
    width: var(--spacing-input);
    height: var(--spacing-input);
    cursor: inherit;

    &::before {
      position: absolute;
      inset: 20%;
      content: "";
      border: 1px solid var(--color-input-bd);
      transition: border-color 0.2s, background-color 0.2s;
    }

    &::after {
      position: absolute;
      content: "";
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:enabled {
      &::before {
        background-color: var(--color-input-bg);
      }

      &[aria-invalid="true"] {
        &::before {
          background-color: var(--color-input-err-bg);
          border-color: var(--color-input-err-bd);
        }
      }
    }

    &:checked {
      &::before {
        background-color: var(---color);
      }

      &::after {
        opacity: 1;
      }
    }
  }

  ._ipt-label-button {
    ---color: var(--color-input);
    ---color-fg: var(--color-input-bg);

    border: 1px solid var(---color);
    transition: background-color 0.2s, opacity 0.2s;
    padding-inline: calc(var(--spacing-button) / 2 - 1px);
    border-radius: unset;

    &::before {
      position: absolute;
      inset: 0;
      content: "";
      background-color: var(---color);
      opacity: 0.1;
      transition: opacity 0.2s;
    }

    ._ipt-label-text {
      color: var(---color);

      >._icon {
        &:only-child {
          position: absolute;
        }
      }
    }

    &:is(:focus-within, :active) {
      z-index: 1;
    }

    &:has(input:checked) {
      background-color: var(---color);

      ._ipt-label-text {
        color: var(---color-fg);
      }
    }

    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &:not(:first-child) {
      border-left: none;
    }
  }

  ._ipt-label-text {
    user-select: none;
    padding-right: var(--spacing-input-pad-x);
    transition: color 0.2s;
    display: grid;
    place-items: center;

    >._icon {
      width: calc(var(--spacing-input) * 0.5);
      height: calc(var(--spacing-input) * 0.5);
      overflow: hidden;
    }
  }

  ._ipt-btn {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--spacing-input-btn);
    height: 100%;
    display: grid;
    place-items: center;
    user-select: none;
    background-color: transparent;
    transition: transform 0.2s;

    >._icon {
      width: 1.0rem;
    }
  }

  ._ipt-placeholder {
    z-index: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: var(--spacing-input-pad-x);
    padding-right: var(--spacing-input-pad-btn);
    color: var(--color-placeholder);
  }

  ._ipt-select {
    z-index: 1;
    padding-right: var(--spacing-input-pad-btn);

    &:enabled {
      cursor: pointer;
    }

    &:has(option[value=""][data-notext="false"], option[value=""][data-notext="true"]:not(:checked)) {
      &+._ipt-placeholder {
        display: none;
      }
    }

    &:open {
      &~._ipt-btn {
        transform: rotateX(180deg);
      }
    }

    option {
      border-radius: none;
      background-color: var(--color-input-bg);
    }
  }

  ._ipt-radio {
    &::before {
      border-radius: 9999px;
    }

    &::after {
      inset: calc(20% + 5px);
      background-color: var(---color-fg);
      border-radius: 9999px;
    }
  }

  ._ipt-check {
    &::before {
      border-radius: var(--radius-input);
    }

    &::after {
      inset: 20%;
      border-radius: var(--radius-input);
      background-color: var(---color-fg);
      mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M20 50 L40 70 L80 30" stroke="currentColor" stroke-width="0.75rem" fill="none" stroke-linecap="round" /></svg>') center / contain no-repeat;
    }
  }

  ._ipt-switch {
    ---color: var(--color-primary);

    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: calc(var(--spacing-input) * 1.6);
    height: var(--spacing-input);
    outline: none;

    &::before {
      position: absolute;
      content: "";
      inset: calc(var(--spacing-input) * 0.2);
      border: 1px solid var(--color-input-bd);
      border-radius: 9999px;
      transition: background-color 0.2s;
    }

    &::after {
      position: absolute;
      content: "";
      width: calc(var(--spacing-input) * 0.45);
      height: calc(var(--spacing-input) * 0.45);
      top: calc(50% - var(--spacing-input) * 0.225);
      left: calc(var(--spacing-input) * 0.3);
      border: 1px solid var(--color-input-bd);
      border-radius: 9999px;
      transition: left 0.2s;
    }

    &:enabled {
      cursor: pointer;

      &::before {
        background-color: var(--color-input-bg);
      }

      &::after {
        background-color: var(--color-input-bg);
      }

      &[aria-invalid="true"] {
        &::before {
          background-color: var(--color-input-err-bg);
          border-color: var(--color-input-err-bd);
        }

        &::after {
          border-color: var(--color-input-err-bd);
        }

        &:checked {
          &::before {
            background-color: var(---color);
          }
        }
      }
    }

    &:checked {
      &::before {
        background-color: var(---color);
      }

      &::after {
        left: calc(var(--spacing-input) * 0.85);
      }
    }
  }

  ._ipt-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1;
    padding-inline: var(--spacing-input-pad-x);
    line-height: calc(var(--spacing-input) - 2px);
    background-color: transparent;
    user-select: none;

    &::file-selector-button {
      display: none;
    }
  }

  ._ipt-outer-spin-button {
    position: absolute;
    right: 0;
    z-index: 1;
    width: var(--spacing-input-btn);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  ._ipt-inner-spin-button {
    width: 100%;
    flex: 1 1 0rem;
    display: grid;
    justify-content: center;

    >._icon {
      width: 1.0rem;
    }
  }

  ._ipt-slider-wrap {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
    padding-inline: calc(var(--spacing-input) * 0.2);
  }

  ._ipt-slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    grid-row: 1 / 2;
    height: var(--spacing-input);
    z-index: 1;
    ---track-bg: transparent;
    ---color: var(--color-primary);

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      appearance: none;
      height: calc(var(--spacing-input) * 0.25);
      border: 1px solid var(--color-input-bd);
      border-radius: 9999px;
      background: linear-gradient(to right, var(---color) 0%, var(---color) var(--rate, 0%), var(---track-bg) var(--rate, 0%), var(---track-bg) 100%);
    }

    &::-moz-range-track {
      appearance: none;
      height: calc(var(--spacing-input) * 0.25);
      border: 1px solid var(--color-input-bd);
      border-radius: 9999px;
      background: linear-gradient(to right, var(---color) 0%, var(---color) var(--rate, 0%), var(---track-bg) var(--rate, 0%), var(---track-bg) 100%);
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: calc(var(--spacing-input) * 0.5);
      height: calc(var(--spacing-input) * 0.5);
      background-color: var(--color-bg);
      border-radius: 9999px;
      /* margin-top: block方向borderの太さ分(片側)+trackとの差(片側) */
      margin-top: calc(var(--spacing-input) * -0.125 - 1px);
      /* box-shadow: inline方向trackのborderの太さ分(片側)との差 */
      box-shadow: 0 0 0 0.5px var(--color-input-bd);
    }

    &::-moz-range-thumb {
      appearance: none;
      width: calc(var(--spacing-input) * 0.5);
      height: calc(var(--spacing-input) * 0.5);
      background-color: var(--color-input);
      border-radius: 9999px;
      /* margin-top: block方向borderの太さ分(片側)+trackとの差(片側) */
      margin-top: calc(var(--spacing-input) * -0.125 - 1px);
      /* borer-width: inline方向trackのborderの太さ分(片側)との差 */
      border: 0.5px solid var(--color-input-bd);
    }

    &:enabled {
      ---track-bg: var(--color-input-bg);

      &::-webkit-slider-thumb {
        cursor: pointer;
        background-color: var(--color-input-bg);
      }

      &::-moz-range-thumb {
        cursor: pointer;
      }

      &[aria-invalid="true"] {
        ---track-bg: var(--color-input-err-bg);

        &::-webkit-slider-runnable-track {
          border-color: var(--color-input-err-bd);
        }

        &::-moz-range-track {
          border-color: var(--color-input-err-bd);
        }
      }
    }

  }

  ._ipt-slider-label {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding-left: 1rem;
  }

  ._ipt-slider-scales {
    position: relative;
    z-index: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-top: calc(var(--spacing-input) * -0.4);
    margin-inline: calc(var(--spacing-input) * 0.25 + 0.5px);
    height: 2.2rem;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.1rem;
    pointer-events: none;
  }

  ._ipt-slider-tick {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    left: var(--rate, 0%);
    margin-left: -0.5rem;
    width: 1rem;
    height: 100%;
    overflow: visible;
    pointer-events: all;
    user-select: none;
    color: var(--color-placeholder);

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: calc(var(--spacing-input) * 0.15);
      top: 2px;
      left: calc(50% - 0.5px);
      background-color: var(--color-placeholder);
    }
  }

}