.ssh
.git
.DS_Store
.editorconfig
.github
.claude
.cursor
.continue
.aider
.roo

# dep
node_modules

# dev
.devcontainer
.vscode
docs/*
!docs/api/
!docs/api/**

# test
_tests
tests
*.test.*
*.spec.*
playwright
playwright.config.ts
.playwright
playwright-report
.storybook
storybook.config.ts
storybook

# build
.react-router
.artifacts
