@layer components {

  ._carousel {
    --slide-width: 100%;
    --slide-gap: 0rem;

    position: relative;
    overflow: hidden;
    overscroll-behavior: contain;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    scrollbar-width: none;
    animation: detect-scroll;
    animation-timeline: scroll(y self);
    --carousel-scroll-flag: var(--can-scroll) 1;
    --carousel-overflow: var(--carousel-scroll-flag, 0);
    --carousel-slide-align-flag: var(--can-scroll) flex-start;

    &[data-align="start"] {
      >._carousel-slides {
        --slide-align: flex-start;

        >._carousel-slide {
          scroll-snap-align: start;
          --slide-align: flex-start;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: calc(100% * var(--carousel-overflow));
          }
        }
      }

    }

    &[data-align="end"] {
      >._carousel-slides {
        --slide-align: flex-end;

        >._carousel-slide {
          scroll-snap-align: end;
          --slide-align: flex-end;

          &:first-child {
            margin-left: calc(100% * var(--carousel-overflow));
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

    }

    &[data-nopad="true"] {
      >._carousel-slides {
        >._carousel-slide {
          margin-inline: 0 !important;
        }
      }
    }
  }

  ._carousel-dummy-slides,
  ._carousel-slides {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    overflow: auto;
    gap: var(--slide-gap);
  }

  ._carousel-dummy-slides {
    position: absolute;
    max-width: calc(100% + 1px);
    width: fit-content;
    min-width: 100%;
    justify-content: flex-start;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    animation: detect-scroll;
    animation-timeline: scroll(x self);
    --carousel-dummy-scroll: var(--can-scroll) 1;
    --carousel-dymmy-width: var(--carousel-dummy-scroll, 1.1);
    transform: translate(0%, 1px);
  }

  ._carousel-slides {
    --slide-align: center;
    position: relative;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    justify-content: var(--carousel-slide-align-flag, var(--slide-align));
  }

  ._carousel-dummy-slide,
  ._carousel-slide {
    position: relative;
    width: var(--slide-width);
    height: 100%;
    flex: none;
  }

  ._carousel-slide {
    scroll-snap-align: center;

    &:first-child {
      margin-left: calc(50% * var(--carousel-overflow));
    }

    &:last-child {
      margin-right: calc(50% * var(--carousel-overflow));
    }
  }

}