@layer components {

  ._loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 9999;
    overflow: hidden;
    background-color: transparent;
    ---color: var(--color-primary);

    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      top: 0;
      background-color: var(---color);
      animation-timing-function: ease-in-out;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }

    &::before {
      width: var(--spacing-loadingbar1);
      left: calc(var(--spacing-loadingbar1) * -1);
      animation-name: loadingBar1;
    }

    &::after {
      width: var(--spacing-loadingbar2);
      left: calc(var(--spacing-loadingbar2) * -1);
      animation-name: loadingBar2;
      animation-delay: 1.2s;
    }
  }

  @keyframes loadingBar1 {
    0% {
      left: calc(var(--spacing-loadingbar1) * -1);
    }

    70% {
      left: calc(var(--spacing-loadingbar1) + 100%);
    }

    100% {
      left: calc(var(--spacing-loadingbar1) + 100%);
    }
  }

  @keyframes loadingBar2 {
    0% {
      left: calc(var(--spacing-loadingbar2) * -1);
    }

    70% {
      left: calc(var(--spacing-loadingbar2) + 100%);
    }

    100% {
      left: calc(var(--spacing-loadingbar2) + 100%);
    }
  }

}