@layer components {

  ._msgbox-dialog {
    inset: 0;
    top: 2rem;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--color-bga);
    backdrop-filter: blur(4px);
  }

  ._msgbox {
    ---color: var(--color-fg);
    ---color-fg: var(--color-bg);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1rem;
    width: min(30rem, 80dvw);
  }

  ._msgbox-header,
  ._msgbox-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  ._msgbox-header {
    background-color: var(---color, inherit);
    color: var(---color-fg, inherit);
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 3px;
  }

  ._msgbox-body {
    padding: 2rem 1rem;
    border-bottom: 1px solid var(--color-shadow);
    margin-bottom: 1rem;

    &:first-child {
      padding-top: 1rem;
    }
  }

  ._msgbox-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
  }

  ._msgbox-toast {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: min(30rem, 80dvw);
  }

  ._msgbox-toast-body {
    align-content: center;
    padding: 0.2rem 1rem;
    flex: 1 0 0rem;
  }

}