version: "3.9"
services:
  app:
    platform: "linux/amd64"
    build:
      context: "../"
      dockerfile: ".devcontainer/docker/node/Dockerfile"
    image: "node24-dev"
    tty: true
    user: "${UID:-1000}:${GID:-1000}"
    working_dir: "/workspace"
    volumes:
      - "../:/workspace"
      - "~/.ssh:/home/node/.ssh"
      - "template-dev_node_modules:/workspace/node_modules"
      - "template-dev_react-router:/workspace/.react-router"
      - "template-dev_playwright:/workspace/.playwright"
    env_file:
      - path: "./.env"
        required: false
    environment:
      - "LOCALHOST=${LOCALHOST:-host.docker.internal}"
      - "TZ=${TZ:-UTC}"
      - "PORT=${PORT:-3000}"
      - "DEV_PORT=${DEV_PORT:-5173}"
      - "DATABASE_HOST=${DATABASE_HOST:-postgres}"
      - "POSTGRES_PORT=${POSTGRES_PORT:-5432}"
      - "POSTGRES_USER=${POSTGRES_USER:-postgres}"
      - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}"
      - "POSTGRES_DB=${POSTGRES_DB:-template}"
      - "BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET:-iclrsf7jkz5yFcrpPPJ93i0kUsNj8ABY}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - "template-dev"
    depends_on:
      - "postgres"
  postgres:
    image: postgres:17-bookworm
    restart: always
    volumes:
      - "template-dev_postgres:/var/lib/postgresql/data"
      - "../database/postgres/init:/docker-entrypoint-initdb.d"
    env_file:
      - path: "./.env"
        required: false
    environment:
      - "TZ=${TZ:-UTC}"
      - "POSTGRES_USER=${POSTGRES_USER:-postgres}"
      - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}"
      - "POSTGRES_DB=${POSTGRES_DB:-template}"
      - "POSTGRES_PORT=${POSTGRES_PORT:-5432}"
    ports:
      - "${POSTGRES_PORT:-5432}:${POSTGRES_PORT:-5432}"
    command: >
      postgres
      -c "port=${POSTGRES_PORT:-5432}"
      -c "log_destination=stderr"
      -c "log_min_messages=${POSTGRES_LOG_LEVEL:-WARNING}"
      -c "log_connections=on"
      -c "log_disconnections=on"
      -c "log_statement=all"
    networks:
      - "template-dev"
networks:
  template-dev:
    name: "template-dev"
    driver: "bridge"
volumes:
  template-dev_node_modules:
  template-dev_react-router:
  template-dev_playwright:
  template-dev_postgres:
