@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* https://tailwindcss.com/docs/theme */
  /* --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */

  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2.0rem;

  --color-bg: #eee;
  --color-fg: #111;
  --color-bga: #eeeeeedf;
  --color-shadow: rgba(0, 0, 0, 0.4);
  --color-primary: #4593ef;
  --color-primary-fg: #f4f4f4;
  --color-secondary: #30a950;
  --color-secondary-fg: #f4f4f4;
  --color-sub: #aab;
  --color-sub-fg: #f4f4f4;
  --color-danger: #f05454;
  --color-danger-fg: #f4f4f4;
  --color-header-bg: #e0e0e4d0;
  --color-header-fg: #111;
  --color-footer-bg: #e0e0e4;
  --color-footer-fg: #111;
  --color-nav-bg: #e0e0e4d0;
  --color-nav-fg: #111;
  --color-mask: rgba(0, 0, 0, 0.2);
  --color-link: #0000EE;
  --color-link-visited: #551A8B;

  /* loadingbar */
  --spacing-loadingbar1: 25%;
  --spacing-loadingbar2: 15%;

  /* button */
  --spacing-button: 3.2rem;

  /* input */
  --color-input: #111;
  --color-input-bg: #f9f9f9;
  --color-input-bd: #555;
  --color-input-err: #111;
  --color-input-err-bg: #fdd;
  --color-input-err-bd: #f00;
  --color-placeholder: #888;
  --color-error: #f00;
  --color-hover: #b8e6fe;
  --color-active: #b8e6fe;
  --spacing-input: 3.2rem;
  --spacing-input-pad-x: calc(var(--spacing-input) / 4);
  --spacing-input-pad-y: calc(var(--spacing-input) / 12);
  --spacing-input-pad-btn: calc(var(--spacing-input) * 0.85);
  --spacing-input-btn: calc(var(--spacing-input) * 0.75);
  --radius-input: 2px;
  --opacity-disabled: 0.5;
}

@utility dark-theme-vars {
  color-scheme: dark;
  --color-bg: #2c2c2c;
  --color-fg: #ddd;
  --color-bga: #2c2c2cdf;
  --color-shadow: rgba(255, 255, 255, 0.4);
  --color-primary: #4085ca;
  --color-primary-fg: #ddd;
  --color-secondary: #14a389;
  --color-secondary-fg: #ddd;
  --color-sub: #778;
  --color-sub-fg: #ddd;
  --color-danger: #e85151;
  --color-danger-fg: #ddd;
  --color-header-bg: #1c1c1fd0;
  --color-header-fg: #ddd;
  --color-footer-bg: #1c1c1f;
  --color-footer-fg: #ddd;
  --color-nav-bg: #1c1c1fd0;
  --color-nav-fg: #ddd;
  --color-mask: rgba(192, 192, 192, 0.2);
  --color-link: #8ab4f8;
  --color-link-visited: #c58af9;
  --color-input: #ddd;
  --color-input-bg: #181818;
  --color-input-bd: #bbb;
  --color-input-err: #ddd;
  --color-input-err-bg: #322;
  --color-input-err-bd: #f57;
  --color-error: #f57;
  --color-hover: #024a70;
  --color-active: #024a70;
}

@utility var-color-primary {
  ---color: var(--color-primary);
  ---color-fg: var(--color-primary-fg);
}

@utility var-color-secondary {
  ---color: var(--color-secondary);
  ---color-fg: var(--color-secondary-fg);
}

@utility var-color-sub {
  ---color: var(--color-sub);
  ---color-fg: var(--color-sub-fg);
}

@utility var-color-danger {
  ---color: var(--color-danger);
  ---color-fg: var(--color-danger-fg);
}

@layer base {

  html {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-size: 62.5%;
    width: 100%;
    height: 100%;

    &[data-theme="dark"] {
      @apply dark-theme-vars;
    }

    &[data-theme="auto"] {
      @media (prefers-color-scheme: dark) {
        @apply dark-theme-vars;
      }
    }
  }

  body {
    font-size: 1.6rem;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  ._link {
    text-decoration: underline;
    color: var(--color-link);

    &:is(:visited, [data-visited="true"]) {
      color: var(--color-link-visited);
    }
  }

  ::placeholder {
    color: var(--color-placeholder);
  }

  /* スクロール有無判定 */
  @keyframes detect-scroll {

    from,
    to {
      --can-scroll: ;
    }

    /* 使用方法
    {
      overflow: auto;
      animation: detect-scroll;
      animation-timeline: scroll(x self);

      --scroll-value: var(--can-scroll) red;
      --no-scroll-value: blue;
      background-color: var(--scroll-value, var(--no-scroll-value));
    }
    */
  }

}

@layer components {

  ._icon {
    width: 1.6rem;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
    stroke-linecap: round;
  }

}

@import "./elements/loading.css";
@import "./elements/button/index.css";
@import "./elements/nav-layout.css";
@import "./elements/dialog.css";
@import "./elements/message-box.css";
@import "./elements/form/ipt-common.css";
@import "./elements/form/ipt-box.css";
@import "./elements/form/ipt-point.css";
@import "./elements/form/ipt-slider.css";
@import "./elements/details.css";
@import "./elements/carousel.css"