@layer components {

  /* form items */

  .form-item {
    position: relative;
    vertical-align: top;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;

    &:empty {
      display: none;
    }
  }

  .ipt {
    position: relative;
    vertical-align: top;
    display: inline-flex;
    flex-direction: row;
    min-width: var(--spacing-input);
    max-width: 100%;
    min-height: var(--spacing-input);
    color: var(--color-input);
  }

  .ipt-field {
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;

    &:focus-within {
      >.ipt-field-appearance {
        border-width: 2px;
      }
    }

    &:has(:is(input[aria-invalid="true"]:not([type="hidden"]), select[aria-invalid="true"], textarea[aria-invalid="true"])) {
      color: var(--color-input-err);

      >.ipt-field-appearance {
        background-color: var(--color-input-err-bg);
        border-color: var(--color-input-err-bd);
      }
    }
  }

  .ipt-field-appearance {
    position: absolute;
    inset: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--radius-input);
    pointer-events: none;
    z-index: -1;
    line-height: 1.2rem;
    margin-top: -0.6rem;
    transition: background-color 0.2s, border-color 0.2s;
  }

  :is(.ipt-field-enabled, .ipt-field-readonly) {
    background-color: var(--color-input-bg);
    border-color: var(--color-input-bd);
  }

  .ipt-field-disabled {
    opacity: var(--opacity-disabled);
  }

  .ipt-group {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .ipt-msg {
    position: relative;
    display: block;
    min-width: 0;
    max-width: 100%;
    color: var(--color-error);
  }

  .ipt-main {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    padding-inline: var(--spacing-input-pad-x);

    &:not([type="date"], [type="month"], [type="time"], [type="datetime-local"]) {
      &::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    }
  }

  .ipt-label {
    vertical-align: top;
    min-width: 0;
    max-width: 100%;
    min-height: var(--spacing-input);
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--radius-input);
    user-select: none;

    &:is(:focus-within, :has(input:enabled:active)) {
      outline: 2px solid;
    }

    &:has(input[aria-disabled="true"]) {
      opacity: var(--opacity-disabled);
    }

    &:has(input:enabled:not([type="hidden"])) {
      cursor: pointer;
    }

    &:has(input[aria-invalid="true"]) {
      outline-color: var(--color-input-err-bd);
    }
  }

  .ipt-point {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    position: relative;
    width: var(--spacing-input);
    height: var(--spacing-input);
    cursor: inherit;

    &::before {
      position: absolute;
      inset: 20%;
      content: "";
      background-color: var(--color-input-bg);
      border: 1px solid transparent;
      transition: border-color 0.2s;
    }

    &::after {
      position: absolute;
      content: "";
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:enabled {
      &::before {
        border-color: var(--color-input-bd);
      }

      &[aria-invalid="true"] {
        &::before {
          background-color: var(--color-input-err-bg);
          border-color: var(--color-input-err-bd);
        }
      }
    }

    &:checked {
      &::after {
        opacity: 1;
      }
    }
  }

  .ipt-label-text {
    user-select: none;
    padding-right: var(--spacing-input-pad-x);
  }

  .ipt-btn {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--spacing-input-btn);
    height: 100%;
    user-select: none;
    background-color: var(--color-input);
    mask: var(--image-down) center / 40% no-repeat;
    transition: transform 0.2s;
  }

  .ipt-placeholder {
    z-index: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: var(--spacing-input-pad-x);
    padding-right: var(--spacing-input-pad-btn);
    color: var(--color-placeholder);
  }

  .ipt-select {
    z-index: 1;
    padding-right: var(--spacing-input-pad-btn);

    &:enabled {
      cursor: pointer;
    }

    &:has(option[value=""][data-notext="false"], option[value=""][data-notext="true"]:not(:checked)) {
      &+.ipt-placeholder {
        display: none;
      }
    }

    &:open {
      &~.ipt-btn {
        transform: rotateX(180deg);
      }
    }
  }

  .ipt-radio {
    &::before {
      border-radius: 9999px;
    }

    &::after {
      inset: calc(20% + 5px);
      background-color: var(--color-input);
      border-radius: 9999px;
    }
  }

  .ipt-check {
    &::before {
      border-radius: var(--radius-input);
    }

    &::after {
      inset: 20%;
      border-radius: var(--radius-input);
      background-color: var(--color-input);
      mask: var(--image-check) center / contain no-repeat;
    }
  }

  .ipt-switch {
    appearance: none;
    position: relative;
    width: calc(var(--spacing-input) * 1.6);
    height: var(--spacing-input);

    &::before {
      position: absolute;
      content: "";
      inset: calc(var(--spacing-input) * 0.2);
      border: 1px solid var(--color-input-bd);
      border-radius: 9999px;
      background-color: var(--color-input-bg);
    }

    &::after {
      position: absolute;
      content: "";
      width: calc(var(--spacing-input) * 0.45);
      height: calc(var(--spacing-input) * 0.45);
      top: calc(50% - var(--spacing-input) * 0.225);
      left: calc(var(--spacing-input) * 0.3);
      border: 1px solid var(--color-input-bd);
      border-radius: 9999px;
      background-color: var(--color-input);
      transition: left 0.2s;
    }

    &:checked {
      &::after {
        left: calc(var(--spacing-input) * 0.85);
      }
    }
  }

  .ipt-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1;
    padding-inline: var(--spacing-input-pad-x);
    line-height: calc(var(--spacing-input) - 2px);
    background-color: transparent;
    user-select: none;

    &::file-selector-button {
      display: none;
    }
  }

  .ipt-outer-spin-button {
    position: absolute;
    right: 0;
    z-index: 1;
    width: var(--spacing-input-btn);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .ipt-inner-spin-button {
    width: 100%;
    flex: 1 1 0rem;
    background-color: var(--color-input);
    mask-size: 40%;
    mask-repeat: no-repeat;
  }

}